In [111]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/the-movies-dataset/ratings.csv
/kaggle/input/the-movies-dataset/links_small.csv
/kaggle/input/the-movies-dataset/credits.csv
/kaggle/input/the-movies-dataset/keywords.csv
/kaggle/input/the-movies-dataset/movies_metadata.csv
/kaggle/input/the-movies-dataset/ratings_small.csv
/kaggle/input/the-movies-dataset/links.csv

In [112]:
meta = pd.read_csv('/kaggle/input/the-movies-dataset/movies_metadata.csv')
sample_meta = meta[["id", "original_title","original_language", "genres"]]
sample_meta = sample_meta.rename(columns={"id":'movieId', "original_title":"title","original_language":"language"})
sample_meta

/tmp/ipykernel_32/2412952582.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  meta = pd.read_csv('/kaggle/input/the-movies-dataset/movies_metadata.csv')

,movieId,title,language,genres
0,862,Toy Story,en,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,8844,Jumanji,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,15602,Grumpier Old Men,en,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,31357,Waiting to Exhale,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,11862,Father of the Bride Part II,en,"[{'id': 35, 'name': 'Comedy'}]"
...,...,...,...,...
45461,439050,رگ خواب,fa,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n..."
45462,111109,Siglo ng Pagluluwal,tl,"[{'id': 18, 'name': 'Drama'}]"
45463,67758,Betrayal,en,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
45464,227506,Satana likuyushchiy,en,[]
45465,461257,Queerama,en,[]

In [113]:
sample_meta = sample_meta.loc[sample_meta['language'] == 'en', :]
sample_meta

,movieId,title,language,genres
0,862,Toy Story,en,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,8844,Jumanji,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,15602,Grumpier Old Men,en,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,31357,Waiting to Exhale,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,11862,Father of the Bride Part II,en,"[{'id': 35, 'name': 'Comedy'}]"
...,...,...,...,...
45459,222848,Caged Heat 3000,en,"[{'id': 878, 'name': 'Science Fiction'}]"
45460,30840,Robin Hood,en,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name..."
45463,67758,Betrayal,en,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
45464,227506,Satana likuyushchiy,en,[]
45465,461257,Queerama,en,[]

In [114]:
sample_meta.movieId = pd.to_numeric(sample_meta.movieId)
sample_meta.movieId

/tmp/ipykernel_32/3530856750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_meta.movieId = pd.to_numeric(sample_meta.movieId)

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45459    222848
45460     30840
45463     67758
45464    227506
45465    461257
Name: movieId, Length: 32269, dtype: int64

In [115]:
txt = sample_meta.genres[0]

myset = set()
for d in eval(txt):
    myset.add(d['name'])
print(myset)

{'Family', 'Comedy', 'Animation'}

In [116]:
def str_to_set(genre):
    myset = set()
    for d in eval(genre):
        myset.add(d['name'])
    return myset

sample_meta.genres = sample_meta.genres.apply(str_to_set)

sample_meta

/tmp/ipykernel_32/918805392.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_meta.genres = sample_meta.genres.apply(str_to_set)

,movieId,title,language,genres
0,862,Toy Story,en,"{Family, Comedy, Animation}"
1,8844,Jumanji,en,"{Adventure, Fantasy, Family}"
2,15602,Grumpier Old Men,en,"{Comedy, Romance}"
3,31357,Waiting to Exhale,en,"{Drama, Comedy, Romance}"
4,11862,Father of the Bride Part II,en,{Comedy}
...,...,...,...,...
45459,222848,Caged Heat 3000,en,{Science Fiction}
45460,30840,Robin Hood,en,"{Drama, Romance, Action}"
45463,67758,Betrayal,en,"{Drama, Action, Thriller}"
45464,227506,Satana likuyushchiy,en,{}
45465,461257,Queerama,en,{}

In [117]:
keywords = pd.read_csv('/kaggle/input/the-movies-dataset/keywords.csv')
keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [118]:
keywords['keywords'] = keywords['keywords'].apply(str_to_set)
keywords

           id                                           keywords
0         862  {toy comes to life, rivalry, friendship, boy n...
1        8844  {recluse, giant insect, board game, based on c...
2       15602  {best friend, fishing, old men, duringcreditss...
3       31357  {based on novel, interracial relationship, div...
4       11862  {confidence, contraception, gynecologist, preg...
...       ...                                                ...
46414  439050                                      {tragic love}
46415  111109                              {artist, pinoy, play}
46416   67758                                                 {}
46417  227506                                                 {}
46418  461257                                                 {}

[46419 rows x 2 columns]

In [119]:
keywords = keywords.rename(columns={'id' : 'movieId'})
keywords.movieId = pd.to_numeric(keywords.movieId)
keywords

       movieId                                           keywords
0          862  {toy comes to life, rivalry, friendship, boy n...
1         8844  {recluse, giant insect, board game, based on c...
2        15602  {best friend, fishing, old men, duringcreditss...
3        31357  {based on novel, interracial relationship, div...
4        11862  {confidence, contraception, gynecologist, preg...
...        ...                                                ...
46414   439050                                      {tragic love}
46415   111109                              {artist, pinoy, play}
46416    67758                                                 {}
46417   227506                                                 {}
46418   461257                                                 {}

[46419 rows x 2 columns]

In [120]:
sample_meta = pd.merge(sample_meta, keywords, on='movieId', how="inner")
sample_meta

,movieId,title,language,genres,keywords
0,862,Toy Story,en,"{Family, Comedy, Animation}","{toy comes to life, rivalry, friendship, boy n..."
1,8844,Jumanji,en,"{Adventure, Fantasy, Family}","{recluse, giant insect, board game, based on c..."
2,15602,Grumpier Old Men,en,"{Comedy, Romance}","{best friend, fishing, old men, duringcreditss..."
3,31357,Waiting to Exhale,en,"{Drama, Comedy, Romance}","{based on novel, interracial relationship, div..."
4,11862,Father of the Bride Part II,en,{Comedy},"{confidence, contraception, gynecologist, preg..."
...,...,...,...,...,...
32847,222848,Caged Heat 3000,en,{Science Fiction},{}
32848,30840,Robin Hood,en,"{Drama, Romance, Action}",{}
32849,67758,Betrayal,en,"{Drama, Action, Thriller}",{}
32850,227506,Satana likuyushchiy,en,{},{}
32851,461257,Queerama,en,{},{}

In [121]:
dk = sample_meta.loc[sample_meta['title'] == 'The Dark Knight'].iloc[0]
dkr = sample_meta.loc[sample_meta['title'] == 'The Dark Knight Rises'].iloc[0]

pd.concat([dk,dkr], axis=1).T

,movieId,title,language,genres,keywords
10278,155,The Dark Knight,en,"{Drama, Action, Thriller, Crime}","{scarecrow, imax, organized crime, chaos, secr..."
14315,49026,The Dark Knight Rises,en,"{Drama, Action, Thriller, Crime}","{imax, secret identity, crime fighter, dc comi..."

In [125]:
def jaccard_similarity(s1, s2):
    if len(s1|s2) == 0:
        return 0
    return len(s1&s2) / len(s1|s2)

In [1]:
jaccard_similarity(dk.genres | dk.keywords, dkr.genres | dkr.keywords)

NameError: name 'jaccard_similarity' is not defined

In [129]:
ratings = pd.read_csv('/kaggle/input/the-movies-dataset/ratings_small.csv')
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [135]:
ratings = pd.merge(ratings, sample_meta[['movieId', 'title']], on='movieId', how="inner")
ratings

       userId  movieId  rating   timestamp              title
0           1     1371     2.5  1260759135          Rocky III
1           4     1371     4.0   949810302          Rocky III
2           7     1371     3.0   851869160          Rocky III
3          19     1371     4.0   855193404          Rocky III
4          21     1371     3.0   853852263          Rocky III
...       ...      ...     ...         ...                ...
33295     652   127728     5.0  1439586990               8:46
33296     652   129009     4.0  1442690827     Love Is a Ball
33297     653     2103     3.0   948161066            Solaris
33298     659      167     4.0   836137550              K-PAX
33299     659      563     3.0   834694187  Starship Troopers

[33300 rows x 5 columns]

In [138]:
matrix = ratings.pivot_table(index="userId", columns="title", values="rating")
matrix

title,!Women Art Revolution,'Gator Bait,'Twas the Night Before Christmas,10 Items or Less,10 Things I Hate About You,"10,000 BC",11'09''01 - September 11,12 + 1,12 Angry Men,1408,...,Young and Innocent,Zaat,Zabriskie Point,Zapped Again!,Zardoz,Zodiac,eXistenZ,xXx,¡Three Amigos!,Мой сводный брат Франкенштейн
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
def pearson_similartiy(a, b):
    a = a - a.mean()
    b = b - b.mean()
    denom = (np.sum(a**2) ** 0.5) * (np.sum(b**2) ** 0.5)
    
    if denom == 0:
        return 0
    else:
        return np.sum(a*b) / denom

In [144]:
dk_rating = matrix['The Dark Knight']
pk_rating = matrix['Prom Night']

pearson_similartiy(dk_rating, pk_rating)

0.7735659346940948